.payment-container {
    width: 90%;
    max-width: 700px;
    margin: 40px auto;
}

.payment-title {
    background-color: #c7b9b5;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    font-weight: 800;
    margin-bottom: 20px;
}

.card {
    background: #f5f5f5;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.section-title {
    text-align: center;
    margin-bottom: 15px;
    font-size: 1.3rem;
    font-weight: 800;
}

.form-group {
    margin-top: 15px;
}

.form-group label {
    font-weight: 700;
    margin-bottom: 5px;
    display: block;
}

input {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

input:focus {
    border-color: #7a2021;
}

.error {
    color: red;
    font-size: 13px;
}

.submit-btn,
.clear-btn {
    width: 100%;
    padding: 12px;
    background-color: #7a2021;
    color: white;
    border: none;
    margin-top: 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
}

.submit-btn:hover,
.clear-btn:hover {
    background-color: #5c1616;
}

/* السلة */
.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 15px;
    margin-bottom: 12px;
    border-radius: 12px;
    border: 1px solid #ddd;
}

.qty-controls {
    display: flex;
    gap: 10px;
}

.qty-btn {
    background: #7a2021;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
}

.remove-btn {
    background: #c0392b;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
}

#total {
    font-size: 18px;
    font-weight: bold;
    color: #7a2021;
    margin-top: 10px;
}

.example {
    font-size: 13px;
    color: #777;
    margin-bottom: 5px;
}

/* طرق الدفع */
.logos {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.logos img {
    width: 70px;
}
