* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}

body {
    background-color: #fcfaf7;
    color: #333;
    direction: rtl;
}


.navbar {
    background-color: #c9bab6;
    height: 110px;
    display: flex;
    align-items: center;
    padding: 0 5%;
    border-bottom: 1px solid #ddd;
}

/* اللوقو */
.logo img {
    height: 100px;
}

/* الناف في النص */
.navbar nav {
    flex: 2;
    display: flex;
    justify-content: center;
}

/* القائمة */
.navbar nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

/* الروابط */
.navbar nav ul li a {
    text-decoration: none;
    color: #1a1a1a;
    font-size: 1.5rem;
    font-weight: 800;
}

/* السلة */
.nav-spacer {
    flex: 1;
    text-align: left;
    font-size: 1.5rem;
    cursor: pointer;
}


.nav-spacer i {
    color: #585252;
}


/* ====== صفحة الدفع ====== */

/* عنوان الصفحة */
.title {
    background-color: #8B5E3C;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    font-size: 1.8rem;
    font-weight: bold;
}

/* الحاوية */
.container {
    width: 90%;
    max-width: 700px;
    margin: 30px auto;
}

/* الكروت */
.box {
    background: #ffffff;
    padding: 25px;
    margin-top: 25px;
    border-radius: 12px;
}

/* العناوين */
h1, h2 {
    text-align: center;
    color: #8B5E3C;
}

/* الشعارات */
.logos {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
}

.logos img {
    width: 70px;
}

/* الفورم */
input {
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* الزر */
button {
    width: 100%;
    padding: 12px;
    background-color: #8B5E3C;
    color: white;
    border: none;
    margin-top: 15px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #6e472d;
}
