.return-container {
    width: 90%;
    max-width: 700px;
    margin: 40px auto;
}

#return_title {
    background-color: #c7b9b5;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    font-weight: 800;
    margin-bottom: 20px;
}

/* FAQ style */
.card {
    background: #f5f5f5;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.question {
    width: 100%;
    background-color: #7a2021;
    color: white;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    font-weight: bold;
    border: none;
}

.question:hover {
    background-color: #561718;
}

.answer {
    margin-top: 10px;
    background-color: #efeeee;
    padding: 15px;
    border-radius: 6px;
    font-size: 15px;
    display: none;
}

.answer.show {
    display: block;
}

/* Form */
.form-group {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.form-group label {
    margin-bottom: 5px;
    font-size: 14px;
}

input, select {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.return-container button {
    width: 100%;
    padding: 12px;
    background-color: #7a2021;
    color: white;
    border: none;
    margin-top: 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
}


button:hover {
    background-color: #5c1616;
}

.error {
    color: red;
    font-size: 13px;
}

.success-msg {
    margin-top: 15px;
    color: green;
    font-weight: bold;
    text-align: center;
}