* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}

body {
    background-color: #fcfaf7;
    color: #333;
    direction: rtl;
}


.navbar {
    background-color: #c9bab6;
    height: 110px;
    display: flex;
    align-items: center;
    padding: 0 5%;
    border-bottom: 1px solid #ddd;
}

.logo img {
    height: 100px;
}

.navbar nav {
    flex: 2;
    display: flex;
    justify-content: center;
}

.navbar nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.navbar nav ul li a {
    text-decoration: none;
    color: #1a1a1a;
    font-size: 1.5rem;
    font-weight: 800;
}


.nav-spacer {
    flex: 1;
    text-align: left;
    font-size: 1.5rem;
    cursor: pointer;
}

.nav-spacer i {
    color: #585252;
}

/* ====== عنوان الصفحة ====== */
.title {
    background-color: #8B5E3C;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    font-size: 1.8rem;
    font-weight: bold;
}


.container {
    width: 90%;
    max-width: 700px;
    margin: 30px auto;
}


.box {
    background: #ffffff;
    padding: 25px;
    margin-top: 25px;
    border-radius: 12px;
}


h1, h2 {
    text-align: center;
    color: #8B5E3C;
}


ul {
    margin-top: 10px;
    line-height: 2;
}


.form-group {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.form-group label {
    margin-bottom: 5px;
    font-size: 14px;
}


input, select {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}


input:focus, select:focus {
    outline: none;
    border-color: #8B5E3C;
    box-shadow: 0 0 5px rgba(139, 94, 60, 0.3);
}


button {
    width: 100%;
    padding: 12px;
    background-color: #8B5E3C;
    color: white;
    border: none;
    margin-top: 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
}

button:hover {
    background-color: #6e472d;
}
